# Entorno virtual de Python
venv/
__pycache__/
*.pyc

# Variables de Entorno y Credenciales (¡SÚPER IMPORTANTES!)
.env

# Base de datos local (contiene datos reales de clientes, nunca debe versionarse)
*.db
*.db-journal

# Archivos del Sistema
.DS_Store
Thumbs.db
