[Unit]
Description=Corre el backup de Agroindustria Guache todos los días

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
